* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mantinia", sans-serif;
  /*background-color: #2f2915; /* Warna latar yang netral */
}

a {
  text-decoration: none;
  color: #d6b35b; /* Warna emas untuk logo */
}

.header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 0;
  background: linear-gradient(to bottom, #23210f, #2f2915); /* Gradasi gelap */
  border-top: 4px solid #8b733a; /* Garis emas tipis */
  border-bottom: 4px solid #8b733a;
  box-shadow: 0 0 5px rgba(255, 215, 0, 1);
  z-index: 999;
}

.bingkai1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #23210f, #2f2915); /* Gradasi gelap */
  border-top: 4px solid #8b733a; /* Garis emas tipis */
  border-bottom: 4px solid #8b733a;
  box-shadow: 0 0 5px rgba(255, 215, 0, 1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width:1350px) {
  .header-container{
    width: 90%;
  }
  
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: #d6b35b; /* Warna emas untuk logo */
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
}

.header-kanan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigasi-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 40px;
  margin-left: 10px;
  color: #2f2915;
  border-radius: 10px;
  background-color: #d6b35b;
}

.navigasi-login h3 {
  color: #2f2915; /* Warna emas untuk teks menu */
  font-size: 18px;
  margin: 0 15px;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navigasi h3 {
  color: #d6b35b; /* Warna emas untuk teks menu */
  font-size: 18px;
  margin: 0 15px;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navigasi h3:hover,
.navigasi-login:hover {
  color: #ffffff; /* Warna putih saat hover */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Efek glow */
}

.hum-menu {
  display: none;
  color: #d6b35b; /* Warna emas untuk teks menu */
  font-size: 18px;
  margin: 0 15px;
  font-weight: 500;
  transition: color 0.3s ease;
  cursor: pointer;
}

.main{
  width: 100%;
  height: 2000px;
  background-color: #23210f;
  padding: 100px;
}

.judul-equip{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 70px auto;
}

.judul-equip h3{
  font-size: 60px;
  text-transform: uppercase;
  color: #d6b35b;
  border-bottom: 3px solid #d6b35b;

}

.equipment{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-family: "Mantinia", sans-serif;
  width: 300px;
  height: 40px;
  padding: 0 40px;  
  font-size: 25px;
  text-transform: uppercase;
  color: #d6b35b;
  backdrop-filter: blur(10px);
  background-color: #292720;
  box-shadow: 0 0 20px rgba(214, 179, 91, 0.9) ;
  border-radius: 5px;
}

.equipment:focus {
  border-color: #d6b35b; /* Ubah warna border saat aktif */
  outline: none; /* Hilangkan outline default */
  box-shadow: 0 0 20px rgba(214, 179, 91, 0.9) ;
}

option{
  width: 200px;
  height: 40px;
  font-family: "Mantinia", sans-serif;
  box-shadow: 0 0 20px rgba(214, 179, 91, 0.9) ;

}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background: linear-gradient(to bottom, #23210f, #2f2915);
}

.footer-con{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 70%;
  margin: 80px auto;
  color: white;
  border-bottom: 5px solid #d6b35b;
}
.footer-con .atas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Pusatkan konten secara horizontal */
  gap: 10px; /* Jarak antara garis dan judul */
}

hr {
  flex-grow: 1; /* Buat garis fleksibel */
  height: 5px;
  background-color: #d6b35b;
  border: 0;
  margin: 0; /* Hapus margin default */
}

.footer-judul {
  width: 500px; /* Konsisten lebar judul */
  font-size: 50px;
  text-align: center;
  color: #d6b35b;
}

/*
@media (max-width: 1550px ) {
  .footer-judul{
    font-size: 40px;
  }
  
}

@media (max-width: 1050px ) {
  .footer-judul{
    font-size: 30px;
  }

  hr{
    width: 30%;
  }
  
}

@media (max-width: 1250px ) {
  .footer-judul{
    font-size: 30px;
  }

  hr{
    width: 33%;
  }
  
}

@media (max-width: 750px ) {
  .footer-judul{
    font-size: 25px;
    width: 30%;
  }

  hr{
    width: 20%;
  }
  
}

@media (max-width: 550px ) {
  .footer-judul{
    width: 50%;
    font-size: 30px;
  }

  hr{
    width: 0;
  }
  
}
*/
.footer-detail{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.footer-detail .top{
  font-size: 17px;
  text-align: center;
}

.footer-detail .mid{
  display: flex;
  gap: 50px;
}

.footer-detail .mid .left,
.footer-detail .mid .midd,
.footer-detail .mid .right{
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-detail .mid .left h3,
.footer-detail .mid .left p,
.footer-detail .mid .midd h3,
.footer-detail .mid .midd p,
.footer-detail .mid .right h3,
.footer-detail .mid .right p{
  font-weight: 100;
}

.footer-detail .mid .left{
  color: white;
}
.footer-detail .bot{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.copyright{
  text-align: center;
  margin-bottom: 100px;
}

svg{
  width: 25px;
  height: 25px;
  color: #d6b35b;

}

svg path {
  fill: #d6b35b; /* Ganti warna dengan yang Anda inginkan */
}

.bot svg path {
  fill: white; /* Ganti warna dengan yang Anda inginkan */
}

@media (max-width:1440px) {
  .header-container{
    width: 85%;
  }
  
}


@media (max-width: 1050px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  .hum-menu {
    display: inline-block;
  }

  
  .header-kanan {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(47, 41, 21, 0.95);
    width: 250px;
    height: 100vh;
    top: 100px;
    right: -250px; /* Awal di luar layar */
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
    padding: 20px;
    gap: 30px;
    z-index: 900;
  }

  .header-kanan.active {
    transform: translateX(-250px); /* Masuk ke dalam layar */
  }

  
}

@media (max-width: 750px) {
  .footer-detail .mid{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

@media (max-width: 640px){
  .footer-judul{
    font-size: 35px;
  }
  .footer-detail .top,
  .footer-detail .mid,
  .footer-detail .bot,
  .footer-detail .copyright{
    font-size: 12px;
  }
}
